  <style>
    /* Dropdown Button */
.dropbtn {
  color: #218e0b !important;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

</style>


  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="public/assets/img/logo.png" alt="">
        
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/"> Home</a></li>
          <li class="dropdown"><a href="#"><span> About </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="team"> EBS Faculity </a></li>
              
             
            </ul>
          </li>
          
            <li><a  href="programme"> Programme </a></li>
           
          <li><a  href="contact"> Contact </a></li>

          {{#if token}}
          {{#student_data}}
            <li>
              <div class="dropdown">
                <a class="dropbtn">{{email}} <i class="fa fa-arrow-down " aria-hidden="true"></i> </a>
                <div class="dropdown-content">
                  <a href="dashboard">Dashboard</a>
                  <a href="logout">Logout</a>
                </div>
              </div>
            </li>
           {{/student_data}}
          {{else}}
          <li><a  href="login"> Login </a></li>
          {{/if}}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header> 
