
 <!-- ======= Breadcrumbs ======= -->
 <section class="breadcrumbs">
    <div class="container">
      <h2>Programme</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="gallery">Gallery</a></li>
        <!-- <li>Blog Single</li> -->
      </ol>
      

    </div>
</section>
  <!-- End Breadcrumbs -->

 <!-- ======= Gallery ======= -->  
 <!-- Photo speaks Section -->
    <section class="gallery-section home-gallery container-fluid" id="gallery">
          <div class="section-header pt-4 px-5">
              <p> Photo Speaks </p>
          </div>
          <div class="details container row g-1 m-auto">
              <div class="col-md-3 col-sm-6"  >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
          </div>
          <div class="text-center"><a href="/gallery" type="submit" class="btn btn-primary my-4">View More</a></div>
          
          <!-- Gallery modal  -->

      </section>
    <!-- End Photo speaks Section -->
  <!-- End Gallery -->