
   <!-- ======= Breadcrumbs ======= -->
   <section class="breadcrumbs pt-5 pb-5">
    <div class="container">
      <h2>Programme</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="blog">Blog</a></li>
        <!-- <li>Blog Single</li> -->
      </ol>
      

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 60vh !important;" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">
            Who We Are
          </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">
            We are team of talented designers making websites with Bootstrap
          </h2>
          <h2 data-aos="fade-up" data-aos-delay="400">
            We are team of talented designers making websites with Bootstrap
          </h2>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">
              <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6">
                    <img src="public/assets/img/features-2.png" class="img-fluid" alt="">
                  </div>
                <div class="col-lg-6">
                  <h3>Neque officiis dolore maiores et exercitationem quae est seda lidera pat claero</h3>  
                  <!-- Tab Content -->
                  <div class="tab-content">
      
                    <div class="tab-pane fade show active" id="tab1">
                      <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>
                      <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                      </div>
                      <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>
                      <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Incidunt non veritatis illum ea ut nisi</h4>
                      </div>
                      <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>
                    </div><!-- End Tab 1 Content -->
      
                  </div>
      
                </div>
      
              </div><!-- End Feature Tabs -->
      
              <!-- Feature Icons -->
              <div class="row feature-icons" data-aos="fade-up">
                <h3 class=" pt-4 pb-4 text-white" style="background:#000080;">Ratione mollitia eos ab laudantium rerum beatae quo</h3>
      
                <div class="row">
                  <div class="col-xl-12 d-flex content">
                    <div class="row mt-4 align-self-center gy-4">
      
                      <div class="col-md-8 icon-box" data-aos="fade-up">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>Corporis voluptates sit</h4>
                          <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                      </div>
      
                      <div class="col-md-8 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>Ullamco laboris nisi</h4>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                        </div>
                      </div>
      
                      <div class="col-md-8 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>Labore consequatur</h4>
                          <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                        </div>
                      </div>

                      <div class="col-md-8 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>Labore consequatur</h4>
                          <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                        </div>
                      </div>
      
                    </div>
                  </div>
      
                </div>
      
              </div><!-- End Feature Icons -->
      
            </div>
      
          </section><!-- End Features Section -->




  </main><!-- End #main -->
